* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-image: url(img/bghead.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1024px;
}

.header__head {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  max-width: 760px;
  padding-top: 201px;
  padding-bottom: 16px;
}

.header__text {
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  max-width: 480px;
  padding-bottom: 44px;
}

.header__text_link {
  color: #FFFFFF;
  font-weight: 900;
}

.header__text_link:hover {
  text-decoration: underline;
}

.header__button_go {
  font-family: "Montserrat", sans-serif;
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border: 1px solid #9c0332;
  box-sizing: border-box;
  border-radius: 30px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.3s;
}

.header__button_go:hover {
  background: #EB443F;
  border: 1px solid #EB443F;
  cursor: url(img/Vector.svg), pointer;
}

.game {
  height: 428px;
  background-image: url(img/bgbody.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 32px;
  padding-top: 128px;
}

.game__text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.text-1 {
  padding-left: 32px;
  padding-top: 236px;
}

.text-2 {
  padding-left: 32px;
  padding-top: 236px;
}

.text-3 {
  padding-left: 32px;
  padding-top: 236px;
}

.game__box {
  transition: all 0.3s;
  width: 379px;
  height: 300px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.game__box:hover {
  transform: scale(1.05);
  border: 3px solid #44D2FF;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: url(img/Vector.svg), pointer;
}

.box-1 {
  background-image: url(img/game1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-2 {
  background-image: url(img/game2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-3 {
  background-image: url(img/game3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first-game {
  height: 800px;
  background-image: url(img/block2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 135px;
}

.seasons {
  width: 600px;
}

.seasons__head {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  padding-bottom: 32px;
  padding-top: 282px;
}

.seasons__text {
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-bottom: 32px;
}

.seasons__button_go {
  font-family: "Montserrat", sans-serif;
  background: #9C0332;
  border: 1px solid #9c0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 234.06px;
  height: 48.6px;
  color: #FFFFFF;
  transition: all 0.3s;
}

.seasons__button_go:hover {
  background: #EB443F;
  border: 1px solid #EB443F;
  cursor: url(img/Vector.svg), pointer;
}

.seasons__svg {
  padding-top: 232px;
}

.seasons__svg_mob {
  display: none;
}

.second-game {
  height: 800px;
  background-image: url(img/block3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 140px;
  flex-direction: row-reverse;
  padding-top: 242px;
}

.remember {
  width: 600px;
}

.remember__head {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  padding-bottom: 32px;
  padding-top: 40px;
}

.remember__text {
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-bottom: 32px;
}

.remember__button_go {
  font-family: "Montserrat", sans-serif;
  background: #9C0332;
  border: 1px solid #9c0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 234.06px;
  height: 48.6px;
  color: #FFFFFF;
  transition: all 0.3s;
}

.remember__button_go:hover {
  background: #EB443F;
  border: 1px solid #EB443F;
  cursor: url(img/Vector.svg), pointer;
}

.remember__svg_mob {
  display: none;
}




@media (max-width:767px) {

.center {
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  height: 735px;
}

.header__head {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  padding-top: 238px;
  padding-bottom: 33px;
}

.header__text {
  font-weight: 100;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 32px;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  flex-direction: column;
  height: 1093px;
}

.game__box {
  width: 343px;
  border-radius: 16px;
}

.seasons {
  width: 100%;
}

.seasons__svg {
  padding-top: 64px;
}

.seasons__svg_desktop {
  display: none;
}

.remember__svg_desktop {
  display: none;
}

.seasons__svg_mob {
  display: block;
  width: 100%;
}

.remember__svg_mob {
  display: block;
  width: 100%;
}

.first-game {
  display: block;
  height: 654px;
}

.seasons__head {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  padding-top: 51px;
}

.seasons__text {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.seasons__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remember {
  width: 100%;
}

.remember__svg {
  padding-top: 64px;
}

.second-game {
  display: block;
  height: 654px;
  padding-top: 0px;
}

.remember__head {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  padding-top: 51px;
}

.remember__text {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.remember__button {
  display: flex;
  align-items: center;
  justify-content: center;
}


}


/*# sourceMappingURL=style.css.map */